* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#gameboard {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
}
#gameboard .field {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  height: 100px;
  width: 100px;
  cursor: pointer;
}
#controls {
  margin: 1em auto 0;
  width: 300px;
}
#controls > *{
  margin: 0.4em;
}
#resetBtn {
  padding: 0.5em 1em;
  border: 0;
  border-radius: 0.5em;
  background-color: #f00;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

#score {
  margin: 1em auto;
  width: 300px;
  display: flex;
  gap: 1em;
  justify-content: center;
}
#score span {
  color: #000;
}

.turn {
  color: red;
}